{{ define "content" }}
    <script>
        $(document).ready(function () {
            let now = new Date();
            $("#last_update").html(now.toLocaleString());
        });
    </script>

    <h1>Clusters</h1>
    <div class="row ">
        <div class="col">
        </div>
        <div class="col text-right">
            <i class="eos-icons eos-dark eos-18 ">schedule</i> Updated at:
            <span id="last_update" class="text-nowrap text-muted">7/7/2021, 12:01:03 PM</span>
        </div>
    </div>
    <hr class="mt-2 mb-3">
    <h4>Filter</h4>
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'>Name</th>
                <th scope='col'>Id</th>
                <th scope='col'>Host count</th>
                <th scope='col'>Resource count</th>
                <th scope='col'>Status</th>
            </tr>
            </thead>
            <tbody>
            {{- range $Name, $Cluster := .Clusters }}
                <tr class='clickable' onclick="window.location='/clusters/{{ .Id }}'">
                    <td>{{ $Cluster.Name }}</td>
                    <td>{{ $Cluster.Id }}</td>
                    <td>{{ $Cluster.Crmmon.Summary.Nodes.Number }}</td>
                    <td>{{ $Cluster.Crmmon.Summary.Resources.Number }}</td>
                    <td>
                        <span class='badge badge-pill badge-primary'>passing</span>
                    </td>
                </tr>
            {{- else }}
                {{ template "empty_table_body" 4}}
            {{- end }}
            </tbody>
        </table>
    </div>
{{ end }}
